name: face_recognition_sdk_example
description: Example app for face_recognition_sdk package
publish_to: 'none'
version: 1.0.0

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  face_recognition_sdk:
    path: ../
  image_picker: ^1.0.7
  package_info_plus: ^8.0.0
  shared_preferences: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

